@import "Variables";

%box {
  max-width: 360px;
  margin: 0 auto 20px;
  padding: 45px;
  box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.3), 0 6px 6px 0 rgba(0, 0, 0, 0.4);
  background-color: $white;
};

%custom-input {
  font-size: 14px;
  padding: 13px;
  border: 0;
  outline: 0;
  width: 100%;
  box-sizing: border-box;
  background-color: $input-background;
  border-radius: 4px;
  font-weight: bold;
  &:focus, &:active {
    box-shadow: -1px 2px 18px 0.125em rgba(50, 115, 220, 0.25);
  }
  &.input-error {
    box-shadow: 0px 3px 12px 0em $input-error-border;
  }
}

.splash-screen {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2% 0 0;
  margin: auto;
  width: 360px;
  .image-header {
    background-image: url('./images/logo192.png');
    background-repeat: no-repeat, repeat;
    width: 192px;
    height: 192px;
    margin: 0 auto 0;
    -webkit-animation: rotation 200s infinite linear;
    @keyframes  rotation {
      from {
        -webkit-transform: rotate(0deg);
      }
      to {
        -webkit-transform: rotate(359deg);
      }
    }
  }
  @media screen and (max-width: $iPhone-6-plus) {
    width: 100%;
    padding: 0;
    .image-header {
      display: none;
    }
  }

}

.hidden {
  display: none;
}

h1 {
  color: $panel-text-colour;
}

.user-panel {
  opacity: 1;
  transition: visibility 0s, opacity 0.5s linear;
  width: 360px;
  padding: 8% 0 10px;
  margin: auto;
  @media screen and (max-width: $iPhone-6-plus) {
    width: 100%;
    padding: 0 0 10px 0;
    h1 {
     text-align: center;
    }
  }
  @media screen and (max-width: $iPhone-SE) {
    h1 {
      margin: 0 0 10px;
    }
  }
}

.button-green {
  text-transform: uppercase;
  width: 100%;
  color: $white;
  background-color: $button-background;
  outline: 0;
  font-size: 14px;
  padding: 15px;
  cursor: pointer;
  border-radius: 10px;
  font-weight: bold;
  &:hover {
    background-color: $button-background-hover;
    color: $black;
  }
}


.login, .register {
  @extend %box;
  .input-field {
    margin: 4px 0 15px;
  }
  input {
    @extend %custom-input;
  }
}

.account-box {
  display: block;
  margin: 18px 0 0;
  color: $panel-text-colour;
  font-size: 12px;
  font-weight: bold;
  cursor: pointer;
  text-align: center;
  p {
    display: inline;
  }
  .click-on-account {
    margin-left: 3px;
    text-decoration: underline;
    &:hover {
      color: $link-hover;
    }
  }
}

.field-wrong {
  font-size: 12px;
  font-weight: bold;
  color: $error-colour;
}
